conda.enabled = true

params {
  mode = 'assemble' // default mode for 99% of your usage
  id = null // assembly name if using qbu
  genome = null // required param if mode is qbu
  nthreads = 8

  // hard-coded tool paths for Polar2020


  hifiasm_env = '/data2/work/local/miniconda/envs/hifiasm-25/'
  nextflow_env = '/data2/work/local/miniconda/envs/nextflow'
  busco_conda = '/data2/work/local/miniconda/envs/busco583'
  quast_conda = '/data2/work/local/miniconda/envs/quast530'
  bwamem2_env = '/data2/work/local/miniconda/envs/salsa'


  // BUSCO parameters
  busco_lineage = 'actinopterygii_odb12' // BUSCO lineage database
  busco_db_path = '/data2/busco_June2024/busco_downloads' // Path to BUSCO database

  // output directory

  outdir = './results'
}
